/Archive
/tests
/templates
/components
*private*
*solutions*
*planning*
*skills*
*ourtreach*
*infrastructure*
*template*
*tst*
*/vids
*nim
*nims
*nimf
*nimib
*org
*pdf
*sync-conflict*
**/*slides*/*
!**/*slides*html
#*
*/#*